// The organization of this CSS is heavily inspired by GitHub's CSS
// stylesheet guidelines.
//
//   See: https://github.com/styleguide/css
//   See also: https://medium.com/@fat/mediums-css-is-actually-pretty-fucking-good-b8e2a6c78b06
//
// See Bootstrap's CSS at:
//   https://github.com/twbs/bootstrap-sass/tree/master/assets/stylesheets/bootstrap
// or
//   $ bundle show bootstrap-sass
//


// These both need to be imported before bootstrap:
@import 'globals/fonts';
@import 'globals/variables';


// --------------Bootstrap-----------------------------
@import 'bootstrap-sprockets';
@import 'bootstrap';

// Uncomment if you want to use the default bootstrap theme
// @import 'bootstrap/theme';


// --------------Global definitions--------------------
// For example (add your own!!):
@import 'globals/mixins';


// --------------Shared styles-------------------------
// Common base CSS modifications. For example:
@import 'shared/buttons';
@import 'shared/grid';


// --------------Components----------------------------
// Create your own and modify/extend Bootstrap's. For example:
@import 'components/panel';
@import 'components/profile_panels';


// --------------Sections------------------------------
// Page-specific styles. These should *only* be used as a last
// resort if you really truly can't style your content more generally.
// @import 'sections/profile_page';
.navbar{
	background-color:transparent;
}
// for home index mask with video

@font-face {
  font-family: Biko;
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}
body {
  background: white;
  margin: 2rem;
}
#above_the_fold{
  height: 100vh;
}
header { 
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
header video { width: 100%; }
svg { 
  width: 100%;
  position:absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100%;
}
svg text, h1 {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
}
svg rect {
  fill: white;
}
svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}
.red{
  color:red;
}
.middle{
  width:100%;
  position:absolute;
  top:50%;
  justify-content: center;
  text-align: center;
  @media (max-width: 500px) {
    margin-left:-30px;
  }

// end of home mask with video-----
  
}
