%head
  %meta{ :charset => 'utf-8' }/
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/
  %link{:href => "https://s3.amazonaws.com/hackliteracy/H.png", :rel => "shortcut icon", :type => "image/x-icon"}/
  
  = display_meta_tags :site => 'anyone can code', :title => 'Hackliteracy', :reverse => true
  %meta{ :name => 'description', :content => '' }/
  %meta{ :name => 'viewport', :content => 'width=device-width' }/
  %script{:crossorigin => "anonymous", :defer => "defer", :integrity => "sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9", :src => "https://use.fontawesome.com/releases/v5.1.0/js/all.js"}
  = render 'stylesheets'
  = javascript_include_tag 'modernizr'

  = csrf_meta_tag
